body{
background-color: black;
    height: 100%;

    }
    
    .all-section{
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    
    
    
    main{

        background-image: url(https://avatars.mds.yandex.net/get-zen_doc/941737/pub_5dd51d710d682f6da91c45f2_5dd655a54b1a762d7ecba162/scale_1200);
        background-size: 200%;
        background-position: top center;
      margin: 80px -8px 0 -8px;
      flex: 1 1 auto;
    }
    
    
    img{
        max-width: 100%;
       
       padding: 0 0 0 0 ;
    }
    
    
    
    
    p{
     
      color: aliceblue;
           word-break: break-all;
           -moz-hyphens: auto;
           -webkit-hyphens: auto;
           -ms-hyphens: auto;
           padding: 10px;
    }
    
    
    h1{
        text-align: center;
        color: aliceblue;
        font-size: 40px;
        margin: 0 0 0 0 ;
    }
    h2{
        text-align: center;
        color: aliceblue;
    }

    h3{
        text-align: center;
        color: aliceblue;
    }
    a{
        margin: 0 0 0 0 ;
        padding: 0 0 0 0 ;
        text-decoration: none;
        color: rgb(140, 174, 202);
        word-break: break-all;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
    }
    
    span{
        color: rgb(168, 168, 168);
    }
    iframe{
        max-width: 100%;
    }
    
    ul{
        padding: 0 0 0 0 ;
        margin: 0 0 0 0 ;
    }
    
    
    li{
        list-style-type: none;
    }
    


  
    
    
    .li-list{
    
        max-width: 100%;
        margin:  8px 0 8px 0;
        padding-left: 10px;
        background-color: rgba(83, 69, 83, 0.452);
       font-size: 25px;
    }
    
    
    
    
    
    
    
    
    
    header{
        background-color: rgba(0, 0, 0, 0.959);
        margin: -8px -8px 0px -8px;
     height: 300px;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
    }
    
    
    
    
    
    
    
    
    
    
     .nav-li h2{
     text-align: center;
     }
    
    
    
     
     .nav-li{
        background-color: rgb(148, 143, 143);
        color: black;
               margin: 0px 25px 0px 25px;
                border: 1px solid;
           min-width: 100px;
            height: 130px;
        }
        
    
        .nav-li h2 {
            font-size: 20px;
        }
        
    
        .ul-img{
            display: block;
           margin-left: auto;
          margin-right: auto;
          text-align: center;
        }
        
        
        .li-img{
           
        
            max-width: 100%;
            height: 100px;
          background-image: url(/img/обучение.png);
          background-repeat: no-repeat;
          background-position: center;
        
        }
        
        
    
    
    /**************************************/
    /**************************************/
    /**************************************/
    /**************************************/
    .header-top{
        padding-top: 30px;
    }
    
    
    
       
    
     /**************************************/
    /**************************************/
    /**************************************/
    /**************************************/
    
    .container{
  margin: 0 10px 0 10px ;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    
    }
    
    .content{
        margin-left: 50px;
        margin-right: 20px;
    }

.content-block{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

    section{
        margin: 0px 0 50px 0;
    }
    
    
    .block{
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap ;
    }
   
    
    
    .content-video{
        border-top: 1px solid;
        border-color: rgb(20, 5, 236); ;
        border-radius: 25%;
    
        margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    


    iframe{
     padding: 10px 0px 10px 0px;
    }


        /**************************************/
    /**************************************/
    /**************************************/
    /**************************************/
    

    
 
    
    
    
    
    
    .container-notes img {
width: 70%;
height: auto;

    }
    
    
    .li-notes{
      text-align: center;
      padding: 10px 0 10px 0;

    }
    
    
    
    
    
        /**************************************/
    /**************************************/
    /**************************************/
    /**************************************/
    
    
    
    .scrollmenu {
        display: flex;
     margin:  5px 0 0 0;
        text-align: start;
        background-color: rgb(0, 0, 0);
        overflow: auto;
        white-space: nowrap;
        max-width: 100%;
        justify-content: space-between;
    }
    div.scrollmenu:hover {
        background-color: rgba(94, 89, 107, 0.397);
    }
    
    
    div.scrollmenu a {
        min-width: 100px;
      
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }
    
    div.scrollmenu a:hover {
        background-color: rgb(155, 154, 154);
    }
    
    