* {
    box-sizing: border-box;
}


body{
background-color: rgb(0, 0, 0);
    line-height: 1.5;

}

span{
    color: rgb(238, 238, 238);
}


a{
    text-decoration: none;
    color: rgb(172, 177, 243);
    line-height: 1.5em;
   
 }
 
p{
    font-size: 30px;
    color: rgb(255, 255, 255);
  line-height: 1.5em;
}
 h1{
    text-align: center;
   
    color: rgb(0, 69, 129);
    
}

h2{
    text-align: center;
    padding-top: 20px;
    color: rgb(255, 255, 255);

   
    margin: 0 0 0 0 ;
}

h3{
    font-size: 35px;
    text-align: center;
}

h4{

text-align: center;
}

img{
    max-width: 100%;
}




ul{
    margin: 0 0 0 0 ;
     
  }
  
  li{
    list-style-type: none;
    color: rgb(247, 247, 247);

}

.qwe{
    background-color: rgba(90, 88, 88, 0.295);
}

main{
    margin: 0px -8px 0px -8px;
    background-image: url(/img/kali.jpg) ;

    background-repeat: no-repeat;
    background-position: center center;; 

    background-attachment: fixed;
    background-size: cover;
}

.search-info{
    background-image: url(https://million-wallpapers.ru/wallpapers/4/42/450634839906653/google.jpg);
}



.Nmap{
    background-image: url(https://avatars.mds.yandex.net/get-zen_doc/1118263/pub_5afff4db7227af00b9e4dcce_5afff4db7227af00b9e4dccf/orig);
}






iframe{
    padding-top: 20px;
    padding-bottom: 10px ;
}

span{
    padding-left: 10px;
}






/* общие */






/* шапка */
header{
margin:  -8px -8px 0px -8px;
background: black;
}


.header-container{
    max-width: 1200px;
    margin: 0 -8px 0 -8px;
     margin-left: auto;
     margin-right: auto;
     display: flex;
    justify-content: space-between;
     flex-wrap: wrap;
}



.header-top{
    width: 100%;
padding: 30px 0 30px 0;

}




.header-bottom{
    width: 100%;
padding-bottom: 20px;

}





.nav-list{
  
    width: 100%;
    display: flex;
justify-content: space-between;
flex-wrap: wrap;

margin: 0 0 0 0px ;

}



.nav-li{
padding-right: 30px;
min-width: 100px;
max-height: 50px;
border: 50px;
}





main{
  

    background-image: url(https://wallup.net/wp-content/uploads/2017/11/17/206567-Linux-Kali_Linux_NetHunter-Kali_Linux.jpg);
}



.content{
 
       flex-wrap: wrap;
       text-align: start;
   width: 70%;
  
   }

 .contentt-block {
 margin-top: 50px;
 }

iframe{
   
    width: 100%;
    
}
aside{
    max-width: 25%;
    margin-left: -5px;
    margin-right: 15px;
    }
    
    
    
    
    .list-content{
    
    
      
 
  
    margin:  0px 0px 0px 0px ;
    padding:  0px 0px 0px 15px ;
    }
    
    .li-content{
        padding: 20px 0  0px ;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    footer{
    
        width: 100%;
        height: 500px;
    
    }


.container{
  
    max-width: 1300px;
   margin: 0 -8px 0 -8px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}






@media screen and (max-width:1200px){
    .container{
    width :1140px ;
    }
}

@media screen and (max-width:1199px){
    .container{
        width:960px ;
    }
}


@media screen and (max-width:991px){
    .container{
        width:720px;
    }
}



@media screen and (max-width:767px){
    .container{
        width:540px;
    }
}

@media screen and (max-width:575px){

  h2{
      text-align: center;
  }  
a{
    font-size: 14px;
    line-height: 2em;
}

p{
    padding-left: 15px;
    padding-right: 10px;
    text-align: start;
    font-size: 13px;
   line-height: 1.5em;
}
    .container{

        width:100%;
        padding: 0 1px;
       
    }

 .nav-list{
     margin: 0px 0px 0 -10px ;
 }
  
      

    aside{
        display: none;
        width: 30%;
    }
.content{
 display: flex;
    flex-wrap: wrap;
    text-align: start;
width: 100%;

}


.content div {
    width: 100%;
text-align: center;
}



iframe{


   max-width: 99%;
   max-height: 200px;
}




}









