* {
    box-sizing: border-box;
}


body{
background-color: rgb(0, 0, 0);
    line-height: 1.5;

}

span{
    color: rgb(238, 238, 238);
}


a{
    text-decoration: none;
    color: rgb(172, 177, 243);
    line-height: 1.5em;
   font-size: 20px;
 }
 
p{
    font-size: 25px;
    color: rgb(255, 255, 255);
  line-height: 1.5em;
}
li{
    font-size: 20px;
}
.content-p p{
    font-size: 25px;
    color: rgb(255, 255, 255);
  line-height: 1.1em;
}



 h1{
    text-align: center;
   
    color: rgb(0, 69, 129);
    
}

h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(255, 255, 255);

   
    margin: 0 0 0 0 ;
}

h3{
    font-size: 35px;
    text-align: center;
}

h4{

text-align: center;
}

img{
    max-width: 100%;
}




ul{
    margin: 0 0 0 0 ;
     
  }
  
  li{
      text-align: left;
    list-style-type: none;
    color: rgb(247, 247, 247);

}

.qwe{
    background-color: rgba(90, 88, 88, 0.295);
}

main{
    margin: 0px -8px 0px -8px;
    background-image: url(/img/kali.jpg) ;

    background-repeat: no-repeat;
    background-position: center center;; 

    background-attachment: fixed;
    background-size: cover;
}

.search-info{
    background-image: url(https://million-wallpapers.ru/wallpapers/4/42/450634839906653/google.jpg);
}



.Nmap{
    background-image: url(https://avatars.mds.yandex.net/get-zen_doc/1118263/pub_5afff4db7227af00b9e4dcce_5afff4db7227af00b9e4dccf/orig);
}


.ip-main{
    background-color: rgb(107, 107, 107);
    background-image: url(htts://million-wallpapers.ru/wallpapers/4/42/450634839906653/google.jpg);
}



iframe{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px ;
}

span{
    padding-left: 10px;
}



.content-block a{
    color: rgb(66, 154, 255);
    font-size: 25px;
}

.content-block ul{
    margin: 0 0 0 0 ;
    padding: 0 0 0 10 ;
}
/* общие */





/* шапка */
header{
margin:  -8px -8px 0px -8px;
background: black;
}


.header-container{
    max-width: 1200px;
    margin: 0 -8px 0 -8px;
     margin-left: auto;
     margin-right: auto;
     display: flex;
    justify-content: space-between;
     flex-wrap: wrap;
}



.header-top{
    width: 100%;
    height: 200px;
padding-top: 20px;

}




.header-bottom{
    width: 100%;


}





.nav-list{
  

    display: flex;
justify-content: space-between;




}



.nav-li{

min-width: 100px;
height: 200px;

}





main{
  

    background-image: url(https://wallup.net/wp-content/uploads/2017/11/17/206567-Linux-Kali_Linux_NetHunter-Kali_Linux.jpg);
}



.content{
 
       flex-wrap: wrap;
       text-align: start;
   width: 70%;
  
   }

 .content-block {
 margin-top: 50px;
 }

iframe{
margin-left: 10%;
margin-right: 10%;
   min-width: 50%;

}
aside{
    max-width: 25%;
    margin-left: -5px;
    margin-right: 15px;
    }
    
    
    
    
    .list-content{
    
    
      
 
  
    margin:  0px 0px 0px 0px ;
    padding:  0px 0px 0px 15px ;
    }
    
    .li-content{
        padding: 20px 0  0px ;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    footer{
    
        width: 100%;
        height: 500px;
    
    }


    #nonepc{
        display: none;
       
    }


.container{
  
    max-width: 1300px;
   margin: 0 -8px 0 -8px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}






@media screen and (max-width:1200px){
    .container{
    width :1140px ;
    

    }


#nonepc{
    display: none;

}


}

@media screen and (max-width:1199px){
    .container{
        width:960px ;
    }
}


@media screen and (max-width:991px){
    .container{
        width:720px;
    }
}



@media screen and (max-width:767px){
    .container{
        width:540px;
    }
}

@media screen and (max-width:575px){

  h2{
      text-align: center;
  }  
a{
    font-size: 14px;
    line-height: 2em;
}

p{
    padding-left: 15px;
    padding-right: 10px;
    text-align: start;
    font-size: 13px;
   line-height: 1.5em;
}
    .container{

        width:100%;
        padding: 0 1px;
       
    }

 .nav-list{
     margin: 0px 0px 0 -10px ;
 }
  
      

    aside{
        display: none;
        width: 30%;
    }
.content{
 display: flex;
    flex-wrap: wrap;
    text-align: start;
width: 100%;

}


.content div {
    width: 100%;
text-align: center;
}



iframe{


   max-width: 80%;
   max-height: 200px;
}



#nonepc{
    text-align: left;
    display: contents;
  



}
#nonepc .list-content{
    margin-top: 50px;
    max-width: 50%;
    float: left;
 
}
#nonepc .li-content{
    padding: 5px 0  0 0;
   }

   #nonepc a{
margin-right: auto;
     }
   
#nonepc h2{
  
margin-left: auto;
margin-right: auto;
}

}







div.scrollmenu {
    display: flex;
   
    text-align: start;
    background-color: rgb(0, 0, 0);
    overflow: auto;
    white-space: nowrap;
    max-width: 100%;
    justify-content: space-between;
}
div.scrollmenu:hover {
    background-color: rgba(94, 89, 107, 0.397);
}


div.scrollmenu a {
    min-width: 100px;
  
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: rgb(155, 154, 154);
}









.nav-li {
    background-color: rgb(148, 143, 143);
    color: black;
    margin: 0px 25px 0px 25px;
    border: 1px solid;
    max-width: 200px;
    height: 120px;
}



.nav-li img {
    max-width: 100%;
    max-height: 150px;
    padding: 0 0 0 0;
}


.nav-li a {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-decoration: none;
    color: aliceblue;
}





.nav-li h2{
    text-align: center;
    }
   
   



.scrollmenu {
    display: flex;
   
    text-align: start;
    background-color: rgb(0, 0, 0);
    overflow: auto;
    white-space: nowrap;
    max-width: 100%;
    justify-content: space-between;
}
div.scrollmenu:hover {
    background-color: rgba(94, 89, 107, 0.397);
}


div.scrollmenu a {
    min-width: 100px;
  
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}





div.scrollmenu a:hover {
    background-color: rgb(155, 154, 154);
}
ul{
    padding: 0 0 0 0 ;
    margin: 0 0 0 0 ;
}


li{
    list-style-type: none;
}



.li-list{

    min-width: 180px;
    margin:  8px 0 8px 0;
    padding-left: 10px;
    background-color: rgba(83, 69, 83, 0.452);
   font-size: 25px;
}




.scrollmenu h2 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


.nav-container{
    max-width: 100%;
}