
a{
    text-decoration: none;
    color: rgb(31, 31, 192);
   
 }
 
p{
    font-size: 30px;
}
 h1{
    text-align: center;
   
    color: aliceblue;
    
}
h2{
    text-align: center;
    margin: 0 0 0 0 ;
}

h3{
    text-align: center;
}

h4{
text-align: center;
}
img{
    max-width: 100%;
}


iframe{
    padding: 0px 0px;
}




body{
  
   background: rgb(70, 70, 71);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size:135%;
    background-attachment: fixed;
}



section{


}


iframe{
width: 600px;
height: 380px;
padding-left: 50px;
}



ul{
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

.list-content{
    width: 690px;
    

 
margin: 0px 0px  0px 0px;
padding:  0px 0px 0px 0px ;
}




iframe{
    padding-bottom: 10px ;
}

span{
    padding-left: 10px;
}


li{
    list-style-type: none;

}




/* общие */






/* шапка */


header{
  margin: -8px -8px;


}


.background-header{
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-top{

justify-content: start;
width: 1800px;
height: 50px;
margin-left: auto;
margin-right: auto;

}






.header-bottom{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: #f1f1f140;
    width: 1800px;
    margin-bottom: 50px;
    border: 1px solid;
    border-color: rgba(62, 84, 146, 0.808);
   }


.header-bottom h2{
color: aliceblue;
font-size: 35px;
}


.nav-list{
   
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
margin:  0px 0px 0px 0px;

}

.nav-li{
    text-align: center ;
  width: 300px;
  height: 70px;

  margin-top: 30px;
margin-right: 50px;
margin-left: 50px;
margin-bottom: 30px;

padding-bottom: 30px;
border: 1px solid;
    border-color: rgba(62, 84, 146, 0.808);

}

.nav-li a{
    color: rgba(245, 245, 245, 0.966);
    font-size: 40px;

}

.hak-content {
   
display: flex;
justify-content: start;
width: 1800px;
margin-left: auto;
margin-right: auto;
background-color: #f1f1f140;
border-bottom: 1px solid;
border-color: rgba(62, 84, 146, 0.808);
}



.section-id-search{
    margin: 8px -10px 0px -10px;


}



.serch{
    background-color: rgba(91, 30, 99, 0);
    margin: 50px -8px 0 -8px;
 
}

/* шапка */






/* Контент */

.section.search{
    background-image: url(img/hak/qqq.jpg);
}



.content-dorck{
 
    border-bottom: 1px solid;
}




.content{
    display: flex;
    justify-content: start;
    flex-wrap:wrap;



    width: 1500px;
  
padding-left: 5px;

border-right: 1px solid;
border-left: 1px solid;
border-color: rgba(62, 84, 146, 0.808);
}

.content-duble {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.content-fiction {
    width: 1150px;
   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}





.text-content p{

line-height: 5px;
}


/* Контент */





/*aside */

aside{
    width: 350px;
    margin-right: 50px;

  
}

aside h2{
   padding-top: 20px  ;
}

.aside-list li{
    padding-left: 50px;
    padding-top: 30px;
}

/*aside */