body{
    line-height: 1.5;
}




a{
    text-decoration: none;
    color: rgb(255, 255, 255);
   
 }
 
p{
    font-size: 30px;
}
 h1{
    text-align: center;
   
    color: aliceblue;
    
}
h2{
    padding-top: 40px;
    font-size: 40px;
    text-align: center;
    margin: 0 0 0 0 ;
}

h3{
    font-size: 35px;
    text-align: center;
}

h4{
text-align: center;
}
img{
    max-width: 100%;
}


iframe{
    padding: 0px 0px;
}

footer{
    color: aliceblue;
    margin: -30px -9px;
    height: 1000px;
    background-color: black;
}


main{
    margin: -3px -8px;
    background-image: url(https://wallup.net/wp-content/uploads/2017/11/17/206567-Linux-Kali_Linux_NetHunter-Kali_Linux.jpg) ;

    background-repeat: no-repeat;
    background-position: center center;; 
  background-size:300%;
    background-attachment: fixed;
    background-size: cover;
}









iframe{
width: 600px;
height: 380px;
padding-left: 50px;
}



ul{
  margin: 0 0;
   
}

.list-content{
    width: 690px;
    
font-size: 30px;
 
margin: 0px 0px  0px 0px;
padding:  0px 0px 0px 0px ;
}




iframe{
    padding-bottom: 10px ;
}

span{
    padding-left: 10px;
}


li{
    list-style-type: none;

}




/* общие */






/* шапка */
header{
  
    background-color: black;
    margin: -8px -8px;
}




.header-container{
  

    max-width: 1800px;
    max-height: 450px;


    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media(max-width:1200px){
    .header-container{
        max-width:970px ;
    }
}

@media(max-width:992px){
    .header-container{
        max-width:750px ;
    }
}


@media(max-width:767px){
    .header-container{
        max-width:none;
    }
}


.header-top{

    max-width: 1800px;
justify-content: start;

max-height: 150px;
margin-left: auto;
margin-right: auto;

}






.header-bottom{
width: 1800px;
flex-wrap: wrap;
justify-content: space-between;

     margin-bottom: 100px;
   
    }





.nav-list{

    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
margin:  0px 0px 0px 0px;

}

.nav-li{
    text-align: center ;
  width: 330px;
 
margin: 20px 20px 20px 20px;

border: 1px solid;
border-radius: 50px;
border-color: rgba(240, 240, 240, 0.808);

}

.nav-li a{
 
 
  
    color: rgba(245, 245, 245, 0.966);
    font-size: 40px;
    


}

.hak-content {
   color: black;
display: flex;
justify-content: start;
max-width: 1800px;
margin-left: auto;
margin-right: auto;
background-color: #666565d2;



}






/* шапка */






/* Контент */

.section.search{
    background-image: url(img/hak/qqq.jpg);
}







.content{
  font-size: 30px;
    width: 1500px;
}




.content-duble {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.content-fiction {
    width: 1150px;
   margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    border-bottom: 1px solid;
}


.content-list{
    list-style-type: lower-roman;
  margin-left: 50px;
}



.text-content p{

line-height: 5px;
}


/* Контент */





/*aside */

aside{
    width: 380px;
    margin-right: 30px;

  
}

aside h2{
   padding-top: 40px  ;
}

.aside-list li{
    font-size: 30px;
    
    padding-left: 50px;
    padding-top: 30px;
}

/*aside */