* {
    box-sizing: border-box;
}


body{
background-color: rgb(118, 113, 129);
    line-height: 1.5;

}




a{
    text-decoration: none;
    color: rgb(255, 255, 255);
   
 }
 
p{
    color: rgba(196, 196, 196, 0.705);
  
}
 h1{
    text-align: center;
   
    color: rgb(0, 69, 129);
    
}

h2{
    padding-top: 20px;
    color: rgb(255, 255, 255);

   
    margin: 0 0 0 0 ;
}

h3{
    font-size: 35px;
    text-align: center;
}

h4{

text-align: center;
}

img{
    max-width: 100%;
}


iframe{
    padding: 0px 0px;
}

ul{
    margin: 0 0 0 0 ;
     
  }
  
  li{
    list-style-type: none;

}



main{
    margin: 0px -8px 0px -8px;
    background-image: url(/img/kali.jpg) ;

    background-repeat: no-repeat;
    background-position: center center;; 

    background-attachment: fixed;
    background-size: cover;
}










iframe{
    padding-bottom: 10px ;
}

span{
    padding-left: 10px;
}






/* общие */






/* шапка */
header{
margin:  -8px -8px 0px -8px;

background: black;

}


.header-container{
    max-width: 1200px;
    margin: 0 -8px 0 -8px;
     margin-left: auto;
     margin-right: auto;
     display: flex;
    justify-content: space-between;
     flex-wrap: wrap;
}



.header-top{
    width: 100%;
padding: 30px 0 30px 0;

}




.header-bottom{
    width: 100%;


}





.nav-list{
  
    width: 100%;
    display: flex;
justify-content: space-between;
flex-wrap: wrap;

margin: 0 0 0 -20px ;

}



.nav-li{
padding-right: 30px;
max-width: 80px;
max-height: 35px;
border: 50px;
}





main{
  

    background-image: url(https://wallup.net/wp-content/uploads/2017/11/17/206567-Linux-Kali_Linux_NetHunter-Kali_Linux.jpg);
}








.container{
  
    max-width: 1200px;
   margin: 0 -8px 0 -8px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  
    justify-content: space-between;
    flex-wrap: wrap;
}






@media screen and (max-width:1200px){
    .container{
    width :1140px ;
    }
}

@media screen and (max-width:1199px){
    .container{
        width:960px ;
    }
}


@media screen and (max-width:991px){
    .container{
        width:720px;
    }
}



@media screen and (max-width:767px){
    .container{
        width:540px;
    }
}

@media screen and (max-width:575px){
    .container{

        width:100%;
        padding: 0 15px;
       
    }


.nav-li{
   width: 300px;

  margin: 0 15px 0 15px ;
}

    aside{
        width: 25%;
    }
.content{
    width: 70%;
}



}















aside{
max-width: 50%;
}




.list-content{
 

    display: flex;
justify-content: space-between;
flex-wrap: wrap;



margin:  0px 0px 0px 0px ;
padding:  0px 0px 0px 0px ;
}

.li-content{
   
 padding: 2px 2px;
}


.content{

    max-width: 100%;


}