* {
    box-sizing: border-box;
}


body{
background-color: rgb(0, 0, 0);
    line-height: 1.5;

}

span{
    color: rgb(190, 190, 190);
}


a{
    text-decoration: none;
    color: rgb(255, 255, 255);
   
 }
 
p{
    font-size: 30px;
    color: rgb(255, 255, 255);
  line-height: 4px;
}
 h1{
    text-align: center;
   
    color: rgb(0, 69, 129);
    
}

h2{
    text-align: center;
    padding-top: 20px;
    color: rgb(255, 255, 255);

   
    margin: 0 0 0 0 ;
}

h3{
    font-size: 35px;
    text-align: center;
}

h4{

text-align: center;
}

img{
    max-width: 100%;
}


iframe{
    padding: 0px 0px;
}

ul{
    margin: 0 0 0 0 ;
     
  }
  
  li{
    list-style-type: none;

}



main{
    margin: 0px -8px 0px -8px;
    background-image: url(/img/kali.jpg) ;

    background-repeat: no-repeat;
    background-position: center center;; 

    background-attachment: fixed;
    background-size: cover;
}










iframe{
    padding-bottom: 10px ;
}

span{
    padding-left: 10px;
}






/* общие */






/* шапка */
header{
margin:  -8px -8px 0px -8px;
background: black;
}


.header-container{
    max-width: 1200px;
    margin: 0 -8px 0 -8px;
     margin-left: auto;
     margin-right: auto;
     display: flex;
    justify-content: space-between;
     flex-wrap: wrap;
}



.header-top{
    width: 100%;
padding: 30px 0 30px 0;

}




.header-bottom{
    width: 100%;
padding-bottom: 20px;

}





.nav-list{
  
    width: 100%;
    display: flex;
justify-content: space-between;
flex-wrap: wrap;

margin: 0 0 0 0px ;

}



.nav-li{
padding-right: 30px;
max-width: 80px;
max-height: 35px;
border: 50px;
}





main{
  

    background-image: url(https://wallup.net/wp-content/uploads/2017/11/17/206567-Linux-Kali_Linux_NetHunter-Kali_Linux.jpg);
}








.container{
  
    max-width: 1300px;
   margin: 0 -8px 0 -8px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}






@media screen and (max-width:1200px){
    .container{
    width :1140px ;
    }
}

@media screen and (max-width:1199px){
    .container{
        width:960px ;
    }
}


@media screen and (max-width:991px){
    .container{
        width:720px;
    }
}



@media screen and (max-width:767px){
    .container{
        width:540px;
    }
}

@media screen and (max-width:575px){

  h2{
      text-align: center;
  }  
a{
    font-size: 10px;
    line-height: 1.5;
}

p{
    padding-left: 0px;
    text-align: start;
    font-size: 19px;
   line-height: 4.5px;
}
    .container{

        width:100%;
        padding: 0 1px;
       
    }

 .nav-list{
     margin: 0;
 }
  
      

    aside{
        display: none;
        width: 30%;
    }
.content{
 display: flex;
    flex-wrap: wrap;
    text-align: start;
width: 100%;

}


.content div {
    width: 100%;
text-align: center;
}



iframe{


   max-width: 99%;
   max-height: 200px;
}




}












aside{
max-width: 29%;
margin-left: -5px;
margin-right: 10px;
}




.list-content{


    display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin:  0px 0px 0px 0px ;
padding:  0px 0px 0px 0px ;
}

.li-content{
    padding: 20px 0  0px ;
}













footer{

    width: 100%;
    height: 500px;

}