body{


}

img{
    max-width: 100% ;
 }

h1{
  text-align: center;
  padding-bottom: 150px;
}


header{
  border-bottom:1px solid ;
  background: rgba(140, 142, 163, 0.473);
}



.head-up {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
justify-content: space-between;
flex-direction: row-reverse;


}




.head-up img{
  width: 700px;
  height: 350px;
}




.box-list{
  background-color: grey;
}




.container{
  width: 1400px;
  margin-left: auto;
  margin-right: auto;


}






/*  List   */


.skill-list{
  text-align: center;
 }

 



.ul-list{

  display:flex;
  justify-content: space-around;
  height:550px;
  list-style-type: none;
  margin-top: 0;
  padding-left: 0px;

}





.ul-list{
  margin-top: 50px;
  height: 800px;
}


.li-list  {
background-color: rgba(128, 128, 128, 0.219);
  border: 1px solid;
     width: 350px;
height: 500px;


}



.ul-list :not(:last-child) {

  margin-right: 50px;

  }



.list_1{ 
    align-self: flex-start;
  
  
}


.list_2{
    align-self: center;  
}


.list_3{
  align-self: flex-start;
}

.list_4 {
  align-self: flex-end;  
}

/*  List   */